#header{
	background-color: black;
}

#textoHeader{
	color:white;
	text-align: center;
	font-size: 40px;
	font-family: arial;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















