th{
	text-align: center;
	text-transform: uppercase;
}

td{
	text-align: center;
}

#header{
	background-color: #2E2E2E;
	height: 125px;
}

#textoHeader{
	color:white;
	text-align: center;
	font-family: Comic Sans MS;
	font-size: 50px;

}

#textoComapania{
	font-size: 30px;
	color:white;
	text-align: center;
	margin: 0px auto;
}

#infoEmprresa{
	font-family: arial;
	font-weight: bold;
}

#btns{
	margin-top: 20px;
}

#tituloPrincipal{
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bolder;
}

#subtitoPrincipal{
	text-transform: uppercase;
	font-weight: bold;
}

#buttonAltaProyecto:hover{
	background-color: #873131;
	color: white;
}

#buttonAltaPersona:hover{
	background-color: #873131;
	color: white;
}

.btnladero{
	width: 200px;
}

.row{
	margin: 0px;
}

.textChamu{
	font-family: arial;
	font-size: 18px;
	text-align: justify;
	text-indent: 50px;
}

#buttonAltaProyecto, #buttonAltaPersona{
	background-color: white;
	color: black;
	border: 1px solid;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















